<!-- templates/index.html -->
<!doctype html>
<html>
<head>
    <title>Suspicious Packets</title>
</head>
<body>
    <h1>Suspicious Packets</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Source IP</th>
            <th>Destination IP</th>
            <th>Timestamp</th>
            <th>Location</th>
        </tr>
        {% for packet in packets %}
        <tr>
            <td>{{ packet[0] }}</td>
            <td>{{ packet[1] }}</td>
            <td>{{ packet[2] }}</td>
            <td>{{ packet[3] }}</td>
            <td>{{ packet[4] }}</td> <!-- Add location here -->
        </tr>
        {% endfor %}
    </table>
</body>
</html>
